

OPENAI_API_KEY=sk-your_openai_key
DEEPGRAM_API_KEY=your_deepgram_api_key
CARTESIO_API_KEY=your_cartesio_api_key
# Server
PORT=7860
HOST=0.0.0.0
ICE_SERVERS=[{"urls":"stun:stun.relay.metered.ca:80"},{"urls":"turn:global.relay.metered.ca:80","username":"<your_username>","credential":"<your_password>"},{"urls":"turn:global.relay.metered.ca:80?transport=tcp","username":"<your_username>","credential":"<your_password>"},{"urls":"turn:global.relay.metered.ca:443","username":"<your_username>","credential":"<your_password>"},{"urls":"turns:global.relay.metered.ca:443?transport=tcp","username":"<your_username>","credential":"<your_password>"}]
